﻿@model TaxDeductionCalculator.Web.Models.AppUser

<h1>Role login</h1>

<form asp-controller="Login" asp-action="Login">
    <div class="form-group col-sm-6">
        <label for="Username">Username</label>
        <input type="text" class="form-control" id="Username" asp-for="UserName" placeholder="Enter username">
    </div>
    <div class="form-group col-sm-6">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" asp-for="Password" placeholder="Enter password">
    </div>
    <div class="form-group col-sm-6">
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>  