﻿@{
    ViewData["Title"] = "Promoter Page";
    var suplements = (IList<EventInfo>)ViewData["Suplements"];
}

@model TaxDeductionCalculator.Web.Models.SuplementViewModel
<div class="text-center">
    @foreach (var item in suplements)
    {
        <h1 class="text-center">@item.EventType - @item.Supplement%</h1>
    }
    @using (Html.BeginForm("UpdateSuplement", "Promoter"))
    {
        <select asp-for="EventType" asp-items="Html.GetEnumSelectList<EventType>()"></select>
        <input asp-for="Suplement" placeholder="Suplement" />
        <input type="submit" name="Update tax rate" />
    }
</div>
