﻿@{
    ViewData["Title"] = "Donor Page";
}
@model  TaxDeductionCalculator.Web.Models.EventViewModel

<div class="text-center">
    <h1 class="display-4">Deduction information</h1>
    <h1 class="text-center">Current tax rate: @ViewData["CurrentTaxRate"]%</h1>
    <h1 class="text-center">Deduction: @ViewData["Deduction"]</h1>
    Event type: <select asp-for="EventType" asp-items="Html.GetEnumSelectList<EventType>()"></select>
    @using (Html.BeginForm("ComputeDeduction", "Donor"))
    {
        <input asp-for="Amount" placeholder="Amount" />
        <input type="submit" />
    }
    <partial name="Recommendations" />
</div>
