﻿@{
    var recommendations = (IEnumerable<EventRecommendationBreakDown>)ViewData["Recommendations"] ?? new List<EventRecommendationBreakDown>();
}
@model TaxDeductionCalculator.Web.Models.AmountViewModel
<h1 class="display-4">Recommendation</h1>
@using (Html.BeginForm("GetRecommendation", "Donor"))
{
    <input asp-for="DonatedAmount" placeholder="Amount" />
    <input type="submit" />
}
@foreach (var item in recommendations)
{
    <h1 class="text-center">@item.EventType - @item.Amount</h1>
}