﻿@{
    ViewData["Title"] = "Admin Page";
}
@model TaxDeductionCalculator.Web.Models.TaxRateViewModel

<div class="text-center">
    <h1 class="display-4">Current tax rate: @ViewData["CurrentTaxRate"]%</h1>
    @using (Html.BeginForm("UpdateTaxRate", "Admin"))
    {
        <input asp-for="TaxRate" placeholder="New tax rate"/>
        <input type="submit" name="Update tax rate" />
    }
</div>
